@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Content{
    @using TestLEAE.DataLayer;
    @using TestLEAE;
    @model TestLEAE.ModelsView.ClientView

    <p1>Найти клиента</p1>

    <form method="get" action="@Url.Action("GetClientByType", "Home")">
        <label for="clientType">Найти по типу:</label>
        <select id="clientType" name="type">
            <option value="@ClientType.LegalEntities">Юридическое лицо</option>
            <option value="@ClientType.IndividualEntrepreneurs">Индивидуальный предприниматель</option>
        </select>
        <button type="submit" id="getClientsByTypeButton">Найти клиента</button>
    </form>

    <form method="get" action="@Url.Action("GetClientByInn", "Home")">
        <label for="Inn">Найти по ИНН:</label>
        <input type="text" id="Inn" name="inn" />
        <button type="submit" id="getClientByInnButton">Найти клиента</button>
    </form>
}