@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Content {
    @using TestLEAE.DataLayer;
    @model TestLEAE.ModelsView.ClientView

    <p1>Добавить нового клиента</p1>

    <form method="post" asp-action="CreateClient" asp-controller="Home">

        <label for="name">Имя:</label>
        <input asp-for="name" type="text" id="name" name="name" />

        <label for="inn">ИНН:</label>
        <input asp-for="inn" type="text" id="inn" name="inn" />

        <label for="clientType">Тип клиента:</label>
        <select asp-for="type" id="clientType" name="type">
            <option value="@ClientType.LegalEntities">Юридическое лицо</option>
            <option value="@ClientType.IndividualEntrepreneurs">Индивидуальный предприниматель</option>
        </select>

        <button type="submit" id="postClientsButton">Добавить клиента</button>
    </form>
}


