@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Content {
    @using TestLEAE.DataLayer;
    @model TestLEAE.ModelsView.ClientView

    <p1>Добавить нового клиента</p1>

    <form method="post" action="@Url.Action("CreateClient", "Home")">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" />

            <label for="inn">ИНН:</label>
            <input type="text" id="inn" name="inn" />

            <label for="clientType">Тип клиента:</label>
            <select id="clientType" name="type">
                <option value="@ClientType.LegalEntities">Юридическое лицо</option>
                <option value="@ClientType.IndividualEntrepreneurs">Индивидуальный предприниматель</option>
            </select>
        <button type="submit" id="postClientsButton">Добавить</button>
    </form>

    <div id="error-messages" style="color: red;"></div>
}


