@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Content {
    @using TestLEAE.DataLayer;
    @model TestLEAE.ModelsView.FounderView;

    <p1>Добавить нового учредителя</p1>

    <form method="post" action="@Url.Action("CreateFounder", "Home")">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" />

            <label for="inn">ИНН:</label>
            <input type="text" id="inn" name="inn" />

            <label for="inn">ИНН Юридического лица:</label>
            <input type="text" id="InnClient" name="InnClient" />
        <button type="submit" id="postClientsButton">Добавить</button>
    </form>
}


