@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@section Content {
    @using TestLEAE.ModelsView;
    @model IEnumerable<FounderView>

    <h1 class="display-4">Учредители</h1>
    @if (Model != null)
    {
        <div class="row mt-5 mb-5">
            @foreach (FounderView client in @Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body fade-in content-card">
                            <h5 class="card-title" id="founder-name">Имя - @client.Fio</h5>
                            <p class="card-text" id="founder-inn">ИНН - @client.Inn</p>
                            <p class="card-text" id="founder-dateToAdd">Дата добавления - @client.DateToAdd.ToString("dd.MM.yyyy")</p>
                            <p class="card-text" id="founder-dateToUpdate">Дата обновления - @client.DateToUpdate.ToString("dd.MM.yyyy")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}